@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  h3,
  legend {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p,
  a,
  span {
    font-size: 1.3rem;
  }
  header {
    background-image: url(/FinalProject/Images/headerhomeoriginal2.jpg);
    background-position: center right;
    padding-top: 1.5rem;
    height: 120px;
    text-align: right;
    padding-right: 5rem;
  }
  .navigation-and-logo {
    display: flex;
    justify-content: left;
    justify-items: left;
  }
  .navigation {
    width: 90%;
    margin: 0 auto;
  }

  nav button {
    display: none;
  }
  nav ul.hide {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    font-size: 1.2rem;
    padding: 0.8rem 2%;
  }
  .navigation-and-logo a.logo-link img {
    width: 10%;
    position: absolute;
    top: 1rem;
    left: 4rem;
    z-index: 1;
  }

  /*-------------------------------------Home-------------------------------------*/
  .home1 {
    padding: 3rem 0.5rem 2rem 0.5rem;
    margin-top: 1rem;
  }
  .home-local,
  .home-weather,
  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .events h1 {
    grid-column: 1/4;
  }
  .home3 p {
    line-height: 30px;
  }
  .main-content-section2 {
    grid-column: 2/4;
  }
  .main-content-section1-weathersummary h3 {
    padding-bottom: 2rem;
  }
  .main-content-section1-weathersummary p,
  .main-content-section1-weathersummary span {
    font-size: 1.1rem;
  }
  .home-local section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-local section img {
    grid-column: 1/2;
  }
  .home-local section h2 {
    grid-column: 1/2;
  }
  .home-local section p {
    grid-column: 1/2;
  }
  .home-weather h2 {
    grid-column: 1/4;
  }
  .main-content-section2-5daysforecast h3 {
    padding-bottom: 2rem;
  }
  .main-content-section2-5daysforecast span {
    font-size: 1.1rem;
  }
  .main-content-section2-5daysforecast-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-content: center;
    justify-items: center;
    height: 50%;
    padding-left: 2rem;
  }
  .main-content-section2-5daysforecast-content-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-content-section2-5daysforecast-content-grid-day {
    background-color: var(--fourth-color);
    color: var(--second-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  } /*----------------------------------------------city--------------------------*/
  .home1 p {
    line-height: 30px;
  }
  .home2 p {
    line-height: 30px;
  }
  .ventanagrid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .ventana p,
  label,
  input {
    font-size: 1.1rem;
  }
  .ventana h4 {
    font-size: 1.2rem;
  }
  .ventana a:hover {
    font-size: 1.5rem;
  }
  .ventana img {
    width: 90%;
  }
  /*---------------------------------------------JOIN---------------------------*/
  form.form1 {
    max-width: 700px;
    margin-left: 4rem;
  }
  .mainmargin {
    display: block;
    padding-bottom: 2.1rem;
  }
  .form1 .buttongrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form1 .button {
    grid-column: 1/2;
    width: 100%;
  }

  .main-thanks p a.goback {
    font-size: 1.8rem;
  }
  form {
    margin-bottom: 3rem;
  }
  .dic {
    display: grid;
    grid-column: 1fr 1fr;
    gap: 1rem;
  }
  .dic h1 {
    grid-column: 1/3;
  }
  .dic section {
    width: 100%;
  }
  /*---------------------------------------------CONTACT*-------------------*/

  /*---------------------------------------------footer-------------------------*/
  .footer1 {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .link {
    grid-column: 1/2;
  }
  .contact {
    grid-column: 2/3;
    margin-left: -6rem;
  }
  .footer1 iframe {
    grid-column: 3/4;
    height: 100%;
  }
  .footer1 a {
    padding-bottom: 1rem;
  }
  .footer1 .contact h3,
  .footer1 .contact h4,
  .footer1 .contact p {
    padding-bottom: 1rem;
  }
}
