:root {
  --first-color: rgb(18, 38, 58);
  --two-color: #b0413e;
  --three-color: #c4d7f2;
  --four-color: #f6ce3c;
  --five-color: #336699;
  --six-color: #2b3964;
  --seven-color: #979690;
}
h2,
h3,
h4,
legend {
  font-family: "Montserrat", sans-serif;
}
legend {
  color: var(--four-color);
}
h1 {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  color: white;
}
h2 {
  font-size: 1.6rem;
  font-family: "Bebas Neue", cursive;
  padding-bottom: 1rem;
}
h3,
legend {
  font-size: 1rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-style: italic;
}
p,
a,
span {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 20px;
}
label,
input {
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: url(/FinalProject/Images/headerhome584.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem;
  background-position: center center;
}
header p {
  color: white;
}
header h1 {
  text-shadow: black 0.1em 0.1em 0.2em;
}
.navigation-and-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--six-color);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: -0.6rem;
}
.navigation-and-logo a.logo-link img {
  width: 30%;
  padding: 0.5rem;
  margin-left: 1rem;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hide {
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 0.8rem 0;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: var(--five-color);
  color: white;
}

nav ul li.active a {
  background-color: var(--five-color);
  color: white;
}

nav ul.hide {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------------Home----------------------------------------------------------*/
.home1 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
.home3 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: left;
}
.home4 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: left;
}
.home5 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: left;
}
.home7 {
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  justify-items: center;
  justify-content: center;
}
.home8 {
  max-width: 1000px;
  margin: 0 auto;
}
.home8 h3 {
  color: var(--four-color);
  text-align: center;
}
.home8 h1 {
  text-align: center;
}
.home7 img {
  width: 100%;
}
.home7 {
  background-color: var(--first-color);
}
.home-local2 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  align-items: left;
}
.home-local2 section {
  margin-bottom: 2rem;
}
.home-local2 section img {
  width: 100px;
  height: 50px;
}
.home-local2 section h2 {
  text-decoration: dashed;
}
.home-local2 section p {
  padding-bottom: 1rem;
}
.but {
  color: white;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  max-width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50px;
}
.home3 h3 {
  color: var(--two-color);
  padding-bottom: 1rem;
}
.home p {
  line-height: 20px;
}

.home2 {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}
.home2 picture img {
  width: 100%;
}
.home1 img {
  width: 100%;
}

.box-text {
  padding: 0.5rem;
}
.home-weather h2 {
  grid-column: 1/2;
}
.gridback {
  background-color: var(--six-color);
  padding: 2rem;
  display: none;
}
.gridlist {
  background-color: var(--four-color);
  display: none;
}
/*-------------ventana-----------------------*/
.ventana {
  background-color: rgb(18, 38, 58, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;

  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}
@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.ventana p,
.ventana h4 {
  color: white;
  padding-bottom: 0.9rem;
}
.ventana p,
label,
input {
  font-size: 0.9rem;
}
.ventana h4 {
  font-size: 1rem;
}
.ventana h2 {
  font-size: 2rem;
  color: var(--four-color);
  padding-top: 1rem;
}
.ventanagrid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--first-color);
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem;
  justify-items: center;
  gap: 1rem;
}
.ventana div.linksventana {
  display: grid;
}
.ventana img {
  width: 90%;
  padding-bottom: 0.5rem;
}
.ventana a {
  margin-top: 2rem;
  color: var(--four-color);
  font-weight: 600;
  padding-bottom: 1rem;
}
.ventana a:hover {
  color: var(--two-color);
  font-size: 1.1rem;
}
#cerrar {
  display: none;
}
#cerrar + label {
  position: fixed;
  color: white;
  background-color: var(--two-color);
  z-index: 50;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  border-radius: 50%;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  animation: modal 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}
#cerrar:checked + label,
#cerrar:checked ~ .ventana {
  display: none;
}
/*-------home local-------*/
main .home-local-main {
  background-color: var(--six-color);
  padding: 2rem 2rem 1rem 2rem;
}
.home-local-main5 {
  background-color: var(--six-color);
  padding: 2rem 2rem 1rem 2rem;
}
main .home-weather {
  background-color: var(--four-color);
}
main .home-local-main2 {
  background-color: var(--four-color);
  padding: 2rem 2rem 1rem 2rem;
}
.home-local,
.home-weather,
.preevents {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.dic {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
}
.home-local section,
.events section,
.dic section {
  text-align: center;
  box-shadow: 5px 10px 5px #1f2136;
  background-color: var(--first-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.dic h1 {
  padding-bottom: 1rem;
}
.home-local section img {
  width: 90%;
  height: 120px;
  margin: 1rem;
}
.dic section img {
  width: 50%;
  height: 150px;
  margin: 2rem 0 1rem 4rem;
}
.dic section h2 {
  color: var(--four-color);
}
.dic section p {
  color: white;
  padding-bottom: 1rem;
}

.events h1 {
  color: white;
  padding-bottom: 1rem;
}
.home-local section h2,
.events section h2 {
  color: var(--four-color);
  text-align: left;
  padding-top: 2rem;
  margin-left: 1rem;
}
.home-local section p,
.events section p,
.events section h4 {
  text-align: left;
  font-size: 0.9rem;
  color: white;
  margin-left: 1rem;
  padding-bottom: 1rem;
}

/*-------weather-----*/
.main-content-section1-weathersummary {
  background: var(--six-color);
  box-shadow: 5px 10px 5px #1f2136;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 2rem;
}
.main-content-section1-weathersummary div {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.main-content-section1-weathersummary h3 {
  grid-column: 1/3;
  text-align: left;
  padding-bottom: 1rem;
}
.main-content-section1-weathersummary-left-column {
  grid-column: 1/2;
  padding-bottom: 0.5rem;
}
.main-content-section1-weathersummary-right-column {
  grid-column: 2/3;
  padding-bottom: 0.5rem;
} /*------------ forecast ---------*/
.main-content-section2 {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 5px 10px 5px #1f2136;
  border-radius: 3px;
  background-color: var(--six-color);
}
.main-content-section2-5daysforecast {
  border-radius: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.main-content-section2-5daysforecast h3 {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}
.main-content-section2-5daysforecast span {
  color: white;
}
.main-content-section2-5daysforecast-content {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
.main-content-section2-5daysforecast-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  box-shadow: 5px 10px 5px #1f2136;
  border-radius: 3px;
  width: 80%;
  margin-bottom: 2rem;
  background-color: var(--first-color);
}
.main-content-section2-5daysforecast-content-grid img {
  width: 60%;
  background-color: var(--third-color);
}
.main-content-section2-5daysforecast-content-grid-day {
  color: white;
  width: 100%;
  text-align: center;
}
.main-content-section2-5daysforecast-content-data {
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}
/*--------slider--------*/
#slider-box2 {
  -moz-animation: autoSlider 30s infinite step-end;
  -o-animation: autoSlider 30s infinite step-end;
  -webkit-animation: autoSlider 30s infinite step-end;
  animation: autoSlider 30s infinite step-end;

  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  height: 100%;
  width: 300%;
}

#slider-container2 {
  overflow: hidden;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1;
  z-index: 1;
}

.slider-element2 {
  float: left;
  width: 33.333%;
}

@-moz-keyframes autoSlider {
  0% {
    margin-left: 0;
  }

  30% {
    margin-left: 0;
  }

  35% {
    margin-left: -100%;
  }

  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }

  95% {
    margin-left: -200%;
  }

  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes autoSlider {
  0% {
    margin-left: 0;
  }

  30% {
    margin-left: 0;
  }

  35% {
    margin-left: -100%;
  }

  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }

  95% {
    margin-left: -200%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes autoSlider {
  0% {
    margin-left: 0;
  }

  30% {
    margin-left: 0;
  }

  35% {
    margin-left: -100%;
  }

  65% {
    margin-left: -100%;
  }

  70% {
    margin-left: -200%;
  }

  95% {
    margin-left: -200%;
  }

  100% {
    margin-left: 0;
  }
}

#slider-container2 #slider-box2 .slider-element2 img {
  max-width: 100%;
  border-radius: 3px;
}
/*-------------------*/
.home1 img.imgcall {
  width: 100%;
}
.home1 .botones {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.home1 .botones a {
  text-decoration: none;
  padding: 2rem 3rem;
  margin-top: 2rem;
  background-color: var(--first-color);
  color: var(--four-color);
  border-radius: 30px;
  font-weight: 600;
}
.home1 .botones a:hover {
  background-color: var(--four-color);
  color: var(--first-color);
} /*--------------------------------------JOIN--------------------------------------*/
form.form1 {
  background-color: var(--first-color);
  border-radius: 3px;
  padding: 2rem;
}
form.form2 {
  border-radius: 3px;
  background-color: var(--six-color);
  padding: 1rem;
  height: 95%;
}

form.form2 legend {
  color: white;
}
form.fomr2 iframe {
  width: 100%;
}
.form1 .member {
  padding-bottom: 1rem;
}
label {
  color: white;
}

.form1 .mainmargin {
  display: block;
  padding-bottom: 1.5rem;
}
.form2 .mainmargin {
  display: block;
  padding-bottom: 1rem;
}
input,
textarea,
.main-stormcenter-stormreport-regions {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #1b1b1e;
  border-radius: 10px;
}

input:focus,
textarea:focus {
  border-color: #6d676e;
}
textarea {
  vertical-align: top;
}
.form1 .button {
  color: black;
  padding: 1em 2em 1em 2em;
  background-color: var(--four-color);
  border-radius: 50px;
  border: solid 2px var(--four-color);
  font-weight: 600;
}
.form2 .button {
  color: white;
  padding: 1em 2em 1em 2em;
  background-color: var(--first-color);
  border-radius: 50px;
  border: solid 2px var(--first-color);
  font-weight: 600;
}
.form1 .button:hover {
  background-color: var(--six-color);
  border: solid 2px var(--six-color);
  color: white;
}
.form2 .button:hover {
  background-color: var(--five-color);
  border: solid 2px var(--five-color);
}
.main-stormcenter-1field,
.buttongrid,
.main-stormcenter-opinio-grid {
  padding: 1.5rem 0rem;
}
.main-stormcenter-stormreport-rate-ranges {
  width: 90%;
}
#ratingvalue {
  color: white;
}
.option {
  display: block;
}
.option input {
  width: 20px;
}
.optiondiv .option {
  padding-top: 1rem;
}
/*-------------------------------------------CONTACT-------------------*/
.home4 .contactc {
  background-color: var(--four-color);
  padding: 1rem;
}
.contactc h3 {
  padding-bottom: 2rem;
}
.contactc iframe {
  padding-bottom: 2rem;
}
.contactc p {
  padding-bottom: 1rem;
}
/*-------------------------------Footer--------------------------------------------*/
.footer1 {
  background-color: var(--five-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1rem 1rem 1rem;
  gap: 2rem;
}
.footer1 a {
  color: white;
  display: block;
  padding-bottom: 0.4rem;
}
.footer1 .contact p img {
  width: 1rem;
}
.home4 .contactc p img {
  width: 1rem;
}
.footer1 .contact h3,
.footer1 .contact h4,
.footer1 .contact p {
  padding-bottom: 0.5rem;
}
.footer2 {
  background-color: var(--seven-color);
  color: var(--five-color);
  padding: 1rem;
  text-align: center;
}
footer {
  display: grid;
  grid-template-columns: 1fr;
}
.link .social {
  display: grid;
  grid-template-columns: 1.7rem 1.9rem;
  gap: 1rem;
  margin-top: 0.3rem;
}
.link .social a img {
  padding-right: 0.5rem;
  width: 100%;
}
footer iframe {
  width: 100%;
  height: 300px;
}
