@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  footer h3 {
    font-size: 2.1rem;
  }
  .mainofprinciples a {
    font-size: 1.3rem;
  }
  .mainofprinciples a:hover {
    font-size: 1.4rem;
  }
  .mainofprinciples p {
    font-size: 1.4rem;
  }

  .mainofprinciples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    justify-content: center;
    padding: 1.7em;
    text-align: center;
  }
  .hierarchy {
    grid-column: 1/2;
    grid-row: 1;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
  .proximity {
    grid-column: 2/3;
    grid-row: 1;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
  .repititon {
    grid-column: 3/4;
    grid-row: 1;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
}
/*h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.5em;
    }
    .image {
      float: right;
      border: solid 2px #6d676e;
      margin-right: 5em;
      margin-top: -4em;
    }*/
