@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  header {
    height: 180px;
  }
  header a {
    font-size: 1.3rem;
  }
  footer h3 {
    font-size: 1.6rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  .finalfooter p {
    font-size: 1.1rem;
  }
  .finalfooter a {
    font-size: 1.1rem;
  }
  footer a:hover {
    font-size: 1.1rem;
  }
  .mainofprinciples p {
    font-size: 1.2rem;
  }
  .mainofprinciples a {
    font-size: 1.2rem;
  }
  .mainofprinciples a:hover {
    font-size: 1.3rem;
  }

  .mainofprinciples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    justify-items: center;
    justify-content: center;
    padding: 1.7em;
    text-align: center;
  }
  .hierarchy {
    grid-column: 1/2;
    grid-row: 1;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
  .proximity {
    grid-column: 2/3;
    grid-row: 1;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
  .repititon {
    grid-column: 1/2;
    grid-row: 2;
    padding: 0.5em;
    border: double 4px #99a1a1;
  }
}
/*h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .image {
    float: right;
    border: solid 2px #6d676e;
    margin-right: 5em;
    margin-top: -4em;
  }*/
