@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
header {
  font-size: 1.5em;
  height: 150px;
  margin-top: 90px;
  margin-left: 50px;
  color: #fbfffe;
}
.image {
  float: right;
  margin-right: 5em;
  margin-top: -4em;
  border: solid 2px #6d676e;
}
body {
  background-color: #084e53;
  min-height: 100%;
  margin: auto;
}
main {
  background: #fbfffe;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
}
ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  line-height: 200%;
}
ul li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d676e;
  font-size: 1em;
}
ul li a:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #6d676e;
  font-size: 1.1em;
}

footer {
  background: #1b1b1e;
  color: #6d676e;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer h3 {
  font-size: 2em;
  margin-bottom: -0.5em;
  font-family: "Montserrat", sans-serif;
}
.navfooter {
  margin-top: 2em;
  margin-bottom: 0.2em;
}
footer a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d676e;
  font-size: 1.1em;
}
.finalfooter p {
  font-size: 1.1em;
}
.finalfooter a {
  font-size: 1.1em;
}
footer a:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #6d676e;
  font-size: 1.1em;
}
.social img {
  width: 3em;
}
.social a:hover {
  border-radius: 50%;
  border: solid 1px #6d676e;
}
.last {
  color: #084e53;
  font-size: 0.9em;
}
@media screen and (max-width: 550px) {
  ul,
  footer,
  header,
  main {
    display: block;
  }
  .image {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
