h1,
h2,
h3 {
  font-family: "IBM Plex Serif", serif;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.3rem;
}
p {
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
}
header {
  text-align: center;
  color: #fbfffe;
  display: block;
  background: #084e53;
  height: 380px;
}
header img {
  display: block;
  margin: auto;
  width: 200px;
}
header h1 {
  padding-bottom: 1rem;
  padding-top: 1.4rem;
}
main {
  background: #fbfffe;
  padding: 1.3rem;
  display: block;
}

ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 200%;
  display: block;
}
ul li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d676e;
  font-size: 1.2rem;
}
ul li a:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #6d676e;
  font-size: 1.3rem;
}

footer {
  background: #1b1b1e;
  color: #6d676e;
  text-align: center;
  padding: 1.3rem;
  display: block;
}
footer h3 {
  font-size: 1.3rem;
  margin-bottom: -0.5em;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
}
.navfooter {
  margin-top: 2em;
  margin-bottom: 0.2em;
  padding-bottom: 1rem;
}
footer a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d676e;
  font-size: 1.1rem;
}
.finalfooter {
  padding-bottom: 0.3rem;
}
.finalfooter p {
  font-size: 1.1rem;
}
.finalfooter a {
  font-size: 1.1rem;
}
footer a:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #6d676e;
  font-size: 1.1rem;
}
.social {
  padding-bottom: 1em;
}
.social img {
  width: 3rem;
}
.social a:hover {
  border-radius: 50%;
  border: solid 1px #6d676e;
}
.last {
  color: #084e53;
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
