@media screen and (min-width: 638px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  p,
  a,
  span {
    font-size: 1.1rem;
  }
  main {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    display: flex;
  }
  .centerdiv {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
    flex: 1;
  }

  .tittle-section1 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .main-content__section2--heading {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .content-article h3 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .main-content__section4--heading {
    font-size: 1.4rem;
  }
  .info-contact h4 {
    padding-left: 1.6rem;
  }
  .banner {
    padding: 1, 1rem;
    font-size: 1.4rem;
  }

  header {
    padding: 1rem 1rem;
  }
  nav button {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
  .main-content__section--heading {
    font-size: 1.2rem;
  }
  .p-header {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
  }
  nav button {
    font-size: 1.5rem;
  }
  .main-content__section1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-content__section1 picture {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    z-index: 1;
  }
  .main-content__section11 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 270px;
    height: 200px;
    opacity: 0.9;
    z-index: 2;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .content-article img {
    width: 250px;
    float: right;
    margin-left: 1rem;
    margin-top: 0;
  }
  .content-article div {
    float: left;
  }

  footer a,
  footer p {
    font-size: 1.1rem;
  }

  .main-content__section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--first-color);
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .first-section-footer-contact {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
  }
  .second-section-footer-contact {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .second-section-footer-contact a img {
    width: 90%;
    height: 75%;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }
  .info-contact p {
    font-size: 1rem;
  }
  .div-footer {
    text-align: center;
  }
}
