@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  h2 {
    font-size: 2.5rem;
  }
  main {
    max-width: 900px;
  }
  .main-content__section--heading {
    font-size: 1.2rem;
  }
  .p-header {
    font-size: 2rem;
  }
  nav button {
    display: none;
  }
  nav ul.hide {
    list-style: none;
    display: flex;
  }
  nav ul li {
    float: left;
    flex: 1;
  }
  nav ul li a {
    border: none;
    font-size: 1.2rem;
  }
  .main-content__section11 {
    top: 25rem;
  }
  .main-content__section1 img {
    position: relative;
    max-height: 247px;
    max-width: 900px;
  }
  footer a,
  footer p {
    font-size: 1.2rem;
  }
}
